/* Colours */
:root {
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-dark-blue: #669EC0;
	--basic-deep-blue: #5496BD;
	--basic-gray: #EEEEEE;
	--basic-light-gray: #F2F2F2;
	--basic-dark-gray: #EBEBEB;
	--basic-brown: #766357;
	--basic-dark-brown: #604E43;
	--basic-deep-brown: #503E33;
	--basic-toggle: #999999;
	--basic-filter-bckg: #888888;
	--basic-gray-line: #E5E5E5;
	--basic-gray-text: #666666;
}

/*Main*/
body {
	min-width: 1200px;
	font-family: "PT Sans","Arial",sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
	background-color: var(--basic-light-gray);
}

.page-body {
	width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
 	margin-left: auto;
 	margin-right: auto;
	background-color: var(--basic-white);
}

.main-header-logo {
	position: absolute;
  top: 0px;
  transform: translateX(-50%);
	width: 138px;
	height: 70px;
 }


.site-navigation {
	display: grid;
	grid-template-columns: repeat(4, 300px);
	list-style: none;
  margin: 0;
  box-sizing: border-box;
  min-height: 56px;
	padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}

.main-menu {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}


.current-menu-item {
	opacity: 0.3;
}

.site-navigation a {
	color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue);
}

.site-navigation a:active {
	opacity: 0.3;
} 

.welcome-block {
	background-image: url("../img/background-shape.svg"), url("../img/background-photo.jpg");
	background-size: 1200px 57px, 1200px 510px;
	background-position: center bottom, center;
	height: 510px;
	background-repeat: no-repeat;
}

.welcome-title {
	margin-top: 75px;
}


.main-heading {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;	
	color: var(--basic-black);
	padding-top: 50px;
	height: 80px;
}


.advice {
	margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
}



.advantages-list li {
  text-align: center;
  width: 309px;
  padding-top: 40px;
}

.advantages-list div {
  margin: 0px auto;
}

.advantages-list-icon {
  width: 120px;
  height: 110px;
  background-repeat: no-repeat; 
  margin-top: 60px;
  padding-bottom: 19px;
}

.bckg-living {
  background-image: url(../img/house-icon.svg);
  background-position: center 21px;
}

.bckg-food {
	background-image: url(../img/burger-icon.svg);
  background-position: center 21px;
}

.bckg-souvenirs {
	background-image: url(../img/gift-icon.svg);
  background-position: center 21px;
}

.reasons .main-heading {
	margin-bottom: 16px;
}

.reasons p {
	margin-bottom: 50px;
}

.main-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 25px;
	margin-top: 0;
}


.blue-block p {
	margin-bottom: 0;
}

.search-results-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.search-results-titles h2, h3 {
	font-size: 21px;
	line-height: 26px;
}

.sorting-header {
	font-size: 12px;
	line-height: 18px;
}

.index-columns-1 {
	color: var(--basic-white);
}

.gray-box {
	background-color: var(--basic-gray);
	padding-top: 47px;
	padding-bottom: 50px;
}

.reason-row {
	display: flex; 
}

.reason-row-reverse {
	flex-direction: row-reverse;
}

.blue-block {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	padding: 50px;
	margin-top: 0;
}	

.reasons-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.list-item-full-row {
	grid-column: 1/4;
}

.list-item p {
	font-size: 14px;
	line-height: 21px;
}

.booking-details h2{
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 58px;
}

.offer {
	margin-bottom: 65px;
}

.button {
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.searh-form-btn {
	width: 568px;
	height: 86px;
}

.search-form-blue {
	width: 458px;
	height: 58px;
	margin-top: 54px;
  border: none;
}

.field-wrap, .guests-amount {
	font-weight: bold;
	line-height: 26px;
}

.field-wrap input {
  font: inherit;
  height: 38px;
  color: var(--basic-black);
  padding-left: 12px;
  width: 300px;
  box-sizing: border-box;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-gray);
}

.field-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.input-field {
	margin-left: 20px;
}

.field-wrap input:focus,
.guests-amount input:focus {
	background-color: var(--basic-white)
}

.calendar-button {
	background-image: url(../img/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
  top: 0;
  right: 0;
  width: 39px;
  height: 38px;
  padding: 0;
  border: 0;
  cursor: pointer;
}


.amount-container {
	display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 0;
 }

 .amount-container label {
    font-size: 14px;
}


.amount-container .kids {
  margin-left: 35px;
}

.guests-amount input {
  width: 38px;
  width: 38px;
  padding: 6px 5px;
  text-align: center;
	font: inherit;
  background-color: var(--basic-light-gray);
  border: none;
  color: var(--basic-black);
  margin: 0;
  font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.amount-adults {
	width: 114px;
	: 38px;
	background-color: var(--basic-gray);
}

.btn-minus {
	background-image: url("../img/minus.svg");
	background-repeat: no-repeat;
	background-position: center;
  border: none;
	height: 38px;
  width: 38px;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 24px;
  cursor: pointer;
}


.btn-plus {
	background-image: url("../img/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
  height: 37px;
  width: 40px;
  border: none;
  height: 38px;
  width: 38px;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 24px;
  cursor: pointer;
}

.btn-minus-adults {
	margin-left: 37px;
}

.btn-minus-kids {
	margin-left: 23px;
}

.btn-plus:hover,
.btn-plus:focus, 
.btn-minus:hover,
.btn-minus:focus{
	background-color: var(--basic-white);
	fill: var(--basic-black);
}


.btn-plus:active,
.btn-plus:focus {
	background-color: var(--basic-white);
	fill: var(--basic-blue);
}


.main-footer {
	position: relative;
}

.main-footer-index {
	bottom: 0;
  background: rgba(255,255,255,.5);
  align-items: center;
  margin-top: -120px;
 	position: absolute;
  z-index: 1;
  width: 100%;
  display: grid;
	grid-template-columns: repeat(3, 400px);
  align-content: center;
}

.main-footer-catalog {
	margin-top: 20px;
	min-height: 120px;
  width: 100%;
  display: grid;
	grid-template-columns: repeat(3, 400px);
  align-content: center;
}

.social .contact-icons {
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social-button {
	display: block;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--basic-blue);
	margin-right: 6px;
}
 

 .social-button svg {
	padding-top: 12px;
 }


.button-blue {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}


.button-blue:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue);
}

.button-blue:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.footer-contacts p {
	padding: 0px;
}

.footer-contacts a {
  color: var(--basic-black);
}

 .footer-contacts {
 	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
 }

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}


.dev-s {
	display: inline-block;
	vertical-align: middle;
}

.social-button {
	display: block;
}

.results-list {
	list-style: none;
}

.results h3 {
	font-size: 21px;
	line-height: 26px;
}



.button-brown {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.button-brown:hover,
.button-brown:focus {
	background-color: var(--basic-dark-brown)
}

.button-brown:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.btn-blue-booking {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	width: 110px;
	height: 27px;
}

.btn-blue-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-blue-booking:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue)
}

.btn-blue-booking:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.btn-brown-booking {
	font-size: 14px;
	line-height: 21px;
	width: 142px;
	height: 27px;
}

.btn-brown-booking {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.btn-brown-booking:hover,
.btn-brown-booking:focus {
	background-color: var(--basic-dark-brown)
}

.btn-brown-booking:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.contact-icons {
	list-style: none;	
}

.catalog-filter {
	color: var(--basic-white);
	background: url(../img/background-filter.jpg) center 15% no-repeat;
	background-color: var(--basic-filter-bckg);
	background-size: cover;
	list-style: none;
}

.catalog-filter-box {
	margin: 72;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
 	justify-content: flex-start;
  align-self: left;
  padding-bottom: 32px;
  padding-right: auto;
	width: 1200px;
	list-style: none;
}

.catalog-filter-box ul {
list-style: none;
}

.options {
	padding-bottom: 25px;
}

.sorting h2 {
	margin-right: 45px;
}

.sorting h3 {
	margin-right: 40px;
}

.sorting {
	display: flex; 
	align-items: baseline;
	border-bottom: 1px solid var(--basic-gray-line);
	padding-left: 6%;
	padding-right: 6%;
}	

.rating {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 110px;
	margin-left: 520px;
	margin-top: 20px;
	color: var(--basic-gray-text);
}

.rating .rating-box {
margin-top: auto;
}

.star-4 {
	width: 88px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
	background-repeat: space;
	height: 17px;
}

.star-3 {
width: 66px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
	background-repeat: space;
	height: 17px;
}

.star-2 {
	width: 42px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
	background-repeat: space;
	height: 17px;
}


.sorting-btn {
	margin-right: 30px;
	background-color: transparent;
	opacity: 0.3;
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
}

.sorting-btn:hover,
.sorting-btn:focus {
	color: var(--basic-blue);
	text-decoration: 1px underline dashed var(--basic-blue);
}

.sorting-btn:active {
	color: var(--basic-black);
	opacity: 1;
}


.btn-up-down-sort:hover,
.btn-up-down-sort:focus {
	color: var(--basic-blue);
	fill: var(--basic-blue);
}

.btn-up-down-sort:active {
	fill: var(--basic-black);
}

.range-controls {
	position: relative;
	width: 220px;
	padding-top: 11px;
	margin-top: 11px;
	margin-bottom: 30px;
}

.range-controls .scale {
	width: 220px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .bar {
  width: 316px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
	position: absolute;
  top: 2px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 152px;
}

.price-controls {
	width: 317px;
	height: 36px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.price-controls .filters-price-label {
	position: relative;
  text-align: center;
  width: 50%;
}


.price-controls input {
	font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
  width: 30px;
	height: 21px;
	text-align: center;
	border: none;
	background-color: transparent;
}


.search-form-price legend {
	margin-top: 25px;
	margin-bottom: 10px;
}

.indicator {
	display: inline-block;
  width: 2px;
  height: 22px;
  vertical-align: middle;
  background:var(--basic-white);
}

.btn-show {
	background-color: transparent;
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
}

.btn-show:hover {
 color: var(--basic-black);
 background-color: var(--basic-white);
}

.rating-box {
	text-align: center;
	width: 110px;
	height: 27px;
	align-items: center;
	background-color: var(--basic-gray);
	padding-top: 3px;
}


.hotels-list {
	margin: 0;
	padding: 0;
}

.hotels-list-item a {
	color: var(--basic-black);
}

.hotels-list-item {
	border-bottom: 1px solid var(--basic-gray-line);
	list-style: none;
	display: flex;
  flex-direction: row;
  padding: 30px 6% 30px;
}

.hotel-content {
	display: flex;
	flex-wrap: wrap;
	max-width: 260px;
	margin-top: 0;
  margin-bottom: 10px;
  margin-left: 30px;
}



.hotel-content span {
	min-width: 110px;
  margin-right: 6px;
  margin-left: 0;
  padding-left: 0;
  display: flex; 
}

.hotel-content .btn-blue-booking {
	margin-right: 6px;
}

.hotel-content h3 {
	margin-top: 0;
	margin-bottom: 7px;
}

.hotel-content .btn-blue-booking,
.hotel-content .btn-brown-booking {
	margin-top: 15px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -38px;
  width: 23px;
  height: 18px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-filter-box fieldset {
	padding: 0;
  margin: 0;
  border: none;
} 


.fieldset-container label {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
 	vertical-align: middle;
}

.fieldset-container label:not(:last-child) {
  margin-bottom: 23px;
}

.catalog-filter-titles {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-top: 25px; 
	padding: 0;
}

.search-form-infra {
	margin-left: 70px;
}

.search-form-acomm-type {
	margin-left: 120px;
}

.search-form-price {
	position: relative;
  box-sizing: border-box;
	display: block;
	float: right;
  width: 30.8%;
  align-items: center;
  margin-left: 340px;
}



.range-filter label:first-child {
  padding-left: 10%;
}

.range-filter label:last-child {
  padding-left: 15%;
}



.pop-up {
	display: flex;
	animation: drop-down 0.4s;
}

.search-form {
	width: 568px;
	background-color: var(--basic-white);
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  padding: 55px;
  z-index: 2;
  position: absolute;
  left: 50%;
	transform: translate( -50%);
}


.map iframe{
	background: var(--basic-dark-blue);
	background-image:url("../img/map.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1200px;
	height: 595px;
	border: 0;
	z-index: 1;
	position: relative;
}

@keyframes drop-down {
	0% {

	}
	100% {
		opacity: 1;
	}
}