* {
	margin: 0;
	padding: 0;
	border: none;
}

/* Colours */
:root {
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-dark-blue: #669EC0;
	--basic-deep-blue: #5496BD;
	--basic-gray: #EEEEEE;
	--basic-light-gray: #F2F2F2;
	--basic-dark-gray: #EBEBEB;
	--basic-brown: #766357;
	--basic-dark-brown: #604E43;
	--basic-deep-brown: #503E33;
	--basic-toggle: #999999;
	--basic-filter-bckg: #888888;
	--basic-gray-line: #E5E5E5;
	--basic-gray-text: #666666;
	--basic-btn-sort-gray: #CACACA;
}



/*Main*/
body {
	min-width: 1200px;
	font-family: "PT Sans","Arial",sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
	background-color: var(--basic-light-gray);
}

.page-body {
	width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
 	margin-left: auto;
 	margin-right: auto;
	background-color: var(--basic-white);
}

.main-header-logo {
	position: absolute;
  top: 0px;
  transform: translateX(-50%);
	width: 138px;
	height: 70px;
 }

.main-header {
	position: relative;
  padding-left: 6%;
  padding-right: 6%;
}

.site-navigation {
	list-style: none;
 	min-height: 56px;
	display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}


.main-menu-item {
	width: 25%;
}

.left-side-first {
	text-align: left;
}


.left-side-second {
	text-align: left;
  margin-right: 9%;
}


.right-side-third {
	text-align: right;
}

.right-side-fourth {
	text-align: right;
  margin-left: 2%;
}

.main-menu {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}

.current-menu-item {
	opacity: 0.3;
}

.site-navigation a {
	color: var(--basic-black);
	display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue);
}

.site-navigation a:active {
	opacity: 0.3;
} 

.welcome-block {
	background-image: url("../img/background-shape.svg"), url("../img/background-photo.jpg");
	background-size: 1200px 57px, 1200px 510px;
	background-position: center bottom, center;
	height: 510px;
	background-repeat: no-repeat;
}

.welcome-title {
	margin-top: 75px;
}


.main-heading {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;	
	color: var(--basic-black);
	margin-top: 40px;
	margin-bottom: 28px;
}


.advice {
	display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}



.advantages-list li {
  text-align: center;
}

.advantages-list p {
	margin-bottom: 82px;
}

.advice h3 {
	padding-top: 160px;
}

.advantages-list .list-item {
	position: relative;
  width: 33%;
  text-align: center;
}

.advantages-list-icon::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  display: block;
  margin-left: -38px;
}

.bckg-living::before {
	background: url(../img/house-icon.svg) no-repeat top center;
	width: 72px;
	height: 75px;
}

.bckg-food::before {
	width: 75px;
	height: 70px;
	background: url(../img/burger-icon.svg) no-repeat top center;    
}

.bckg-souvenirs::before {
	background: url(../img/gift-icon.svg) no-repeat top center;;
	width: 64px;
	height: 77px;
}

.main-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	margin-top: 0;
	padding-bottom: 25px;
}

.reasons p {
	margin-bottom: 50px;
}

.reason-row p {
	padding-top: 23px;
}

.search-results-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.search-results-titles h2, h3 {
	font-size: 21px;
	line-height: 26px;
}

.sorting-header {
	font-size: 12px;
	line-height: 18px;
}

.index-columns-1 {
	color: var(--basic-white);
}

.gray-box {
	background-color: var(--basic-gray);
	padding-top: 47px;
}

.gray-box p {
	margin-bottom: 54px;
	padding-top: 23px;
}


.reason-row {
	display: flex; 
}

.reason-row-reverse {
	flex-direction: row-reverse;
}

.blue-block {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	padding: 47px 50px 54px 50px;
}	
.blue-block p {
	margin: 0;
}

.reasons-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.list-item-full-row {
	grid-column: 1/4;
}

.list-item p {
	font-size: 14px;
	line-height: 21px;
}

.booking-details h2{
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 58px;
	margin-bottom: 30px;
}

.offer {
	margin-bottom: 65px;
}

.button {
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.searh-form-btn {
	width: 568px;
	height: 86px;
}

.search-form-blue {
	width: 458px;
	height: 58px;
	margin-top: 54px;
  border: none;
}

.field-wrap, .guests-amount {
	font-weight: bold;
	line-height: 26px;
}


 .input-field {
	font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: var(--basic-black);
  border: none;
  height: 38px;
  padding-left: 12px;
  width: 320px;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--basic-gray);
}

.field-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}


.search-form label {
	display: block;
  flex-shrink: 0;
  width: 112px;
  line-height: 26px;
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
}

.guests-amount .kids {
	text-align: right;
  width: 68px;
  padding-right: 28px;
  padding-left: 10px;

}



.field-wrap input:focus,
.guests-amount input:focus {
	background-color: var(--basic-white);
	border-color: var(--basic-light-gray);
	border: 2px solid var(--basic-light-gray);
}

.search-results-titles:hover,
.search-results-titles:focus {
	color: var(--basic-blue);
}

.search-results-titles:active,
.search-results-titles:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.calendar-button {
	background-image: url(../img/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
  top: 0;
  right: 40px;
  width: 39px;
  height: 38px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.calendar-button:hover,
.calendar-button:focus {
	background-image: url(../img/calendar-black.svg);
}

.calendar-button:active{
	background-image: url(../img/calendar-blue.svg);
}



.amount-container {
  margin: 0;
  font-size: 0;
  display: flex;
  flex-direction: row;
}

 .amount-container label {
  font-size: 14px;
}

.search-form-row {
	display: flex;
	justify-content: space-between;
}

.guests-amount input {
  width: 37px;
  text-align: center;
	font: inherit;
  background-color: var(--basic-light-gray);
  border: none;
  color: var(--basic-black);
  margin: 0;
  font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.amount-adults {
	width: 114px;
	background-color: var(--basic-gray);
}

.btn-minus {
	background-image: url("../img/minus.svg");
	background-repeat: no-repeat;
	background-position: center;
  border: none;
	height: 38px;
  width: 38px;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--basic-light-gray);
}


.btn-plus {
	background-image: url("../img/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
  border: none;
  height: 38px;
  width: 38px;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--basic-light-gray);
}

.btn-plus:hover,
.btn-plus:focus {
	background-image: url("../img/plus-black.svg");
	background-color: var(--basic-light-gray);
}

 
.btn-minus:hover,
.btn-minus:focus{
	background-image: url("../img/minus-black.svg");
	background-color: var(--basic-light-gray);
}

.btn-minus:active {
	background-image: url("../img/minus-blue.svg");
	background-color: var(--basic-light-gray);
}

.btn-plus:active {
	background-image: url("../img/plus-blue.svg");
	background-color: var(--basic-light-gray);
}

.main-footer {
	position: relative;
}

.main-footer-index {
	bottom: 0;
  background: rgba(255,255,255,0.9);
  align-items: center;
  margin-top: -120px;
 	position: absolute;
  z-index: 1;
  width: 100%;
  display: grid;
	grid-template-columns: repeat(3, 400px);
  align-content: center;
  padding: 36px 0;
 }

.main-footer-catalog {
	min-height: 120px;
  width: 100%;
  display: grid;
	grid-template-columns: repeat(3, 400px);
  align-content: center;
}

.social .contact-icons {
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social-button {
	display: block;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--basic-blue);
	margin-right: 6px;
}
 

 .social-button svg {
	padding-top: 12px;
}


.button-blue {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}


.button-blue:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue);
}

.button-blue:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.footer-contacts p {
	padding-top: 10px;
}

.footer-contacts a {
  color: var(--basic-black);
}

 .footer-contacts {
 	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
 }

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}


.dev-s {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 8px;
	fill: var(--basic-black);
}

.dev-s:hover,
.dev-s:focus {
	fill: var(--basic-blue);

}

.dev-s:active{
	opacity: 0.3;
}

.social-button {
	display: block;
}

.results-list {
	list-style: none;
}

.results h3 {
	font-size: 21px;
	line-height: 26px;
}



.button-brown {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.button-brown:hover,
.button-brown:focus {
	background-color: var(--basic-dark-brown)
}

.button-brown:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.btn-blue-booking {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	width: 110px;
	height: 27px;
}

.btn-blue-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-blue-booking:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue)
}

.btn-blue-booking:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.btn-brown-booking {
	font-size: 14px;
	line-height: 21px;
	width: 142px;
	height: 27px;
}

.btn-brown-booking {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.btn-brown-booking:hover,
.btn-brown-booking:focus {
	background-color: var(--basic-dark-brown)
}

.btn-brown-booking:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.contact-icons {
	list-style: none;	
}

.catalog-filter {
	color: var(--basic-white);
	background: url(../img/background-filter.jpg) center 15% no-repeat;
	background-color: var(--basic-filter-bckg);
	background-size: cover;
	list-style: none;
}

.catalog-filter-box {
	padding: 0;
  display: flex;
  flex-wrap: wrap;
 	justify-content: flex-start;
  width: 1200px;
	list-style: none;
}

.catalog-filter-box ul {
	list-style: none;
}

.options {
	margin-bottom: 24px;
	margin-left: 42px;
}

.sorting h2 {
	margin-right: 45px;
}

.sorting h3 {
	margin-right: 40px;
}

.sorting {
	display: flex; 
	align-items: baseline;
	border-bottom: 1px solid var(--basic-gray-line);
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 30px;
  padding-bottom: 30px;
}	

.right {
	margin-left: auto;
}

.rating {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 20px;
	color: var(--basic-gray-text);
	margin-left: auto;
}

.rating .rating-box {
	margin-top: auto;
	justify-content: flex-end;
}



.rating-box::before {
	background-image: url(../img/star.png);
	background-repeat: space;
	height: 17px;
  display: block;
}


.star-4::before {
  content: "";
  position: absolute;
	width: 86px;
  display: block;
  margin-left: 25px;
  margin-top: -70px;
}

.star-3::before {
	content: "";
  position: absolute;
  width: 66px;
  margin-left: 45px;
  margin-top: -70px;
}

.star-2::before {
	content: "";
  position: absolute;
  width: 42px;
	margin-left: 70px;
  margin-top: -70px;
}


.sorting-btn {
	margin-right: 30px;
	background-color: transparent;
	opacity: 0.3;
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
}

.sorting-btn:hover,
.sorting-btn:focus {
	color: var(--basic-blue);
	text-decoration: 1px underline dashed var(--basic-blue);
}

.sorting-btn:active {
	color: var(--basic-black);
	opacity: 1;
}

.btn-up-down-sort {
	fill: var(--basic-btn-sort-gray);
}
.btn-up-down-sort:hover,
.btn-up-down-sort:focus {
	fill: var(--basic-blue);
}

.btn-up-down-sort:active {
	fill: var(--basic-black);
}

.range-controls {
	position: relative;
	width: 220px;
	padding-top: 11px;
	margin-top: 11px;
	margin-bottom: 30px;
}

.range-controls .scale {
	width: 270px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .bar {
  width: 316px;
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;

}

.range-controls .toggle {
	position: absolute;
  top: 2px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 265px;
}

.price-controls {
	width: 317px;
	height: 36px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.price-controls .filters-price-label {
	position: relative;
  text-align: center;
  width: 50%;
}


.price-controls input {
	font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
  width: 30px;
	height: 21px;
	text-align: center;
	border: none;
	background-color: transparent;
	margin-left: 5px;
}


.search-form-price legend {
	margin-bottom: 10px;
	text-align: left;
}

.indicator {
	display: inline-block;
  width: 2px;
  height: 22px;
  vertical-align: middle;
  background:var(--basic-white);
}

.btn-show {
	background-color: transparent;
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 7px 35px 7px 35px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
}

.btn-show:hover {
 color: var(--basic-black);
 background-color: var(--basic-white);
}

.rating-box {
	text-align: center;
	width: 110px;
	height: 27px;
	align-items: center;
	background-color: var(--basic-gray);
	padding-top: 3px;
}


.hotels-list {
	margin: 0;
	padding: 0;
}

.hotels-list-item a {
	color: var(--basic-black);
}

.hotels-list-item {
	border-bottom: 1px solid var(--basic-gray-line);
	list-style: none;
	display: flex;
  flex-direction: row;
  padding: 30px 6% 30px;
}

.hotel-content {
	display: flex;
	flex-wrap: wrap;
	max-width: 260px;
	margin-top: 0;
  margin-bottom: 10px;
  margin-left: 30px;
}



.hotel-content span {
	min-width: 110px;
  margin-right: 6px;
  margin-left: 0;
  padding-left: 0;
  display: flex; 
}

.hotel-content .btn-blue-booking {
	margin-right: 6px;
}

.hotel-content h3 {
	margin-top: 0;
	margin-bottom: 7px;
}

.hotel-content .btn-blue-booking,
.hotel-content .btn-brown-booking {
	margin-top: 15px;
}

.filter-option label {
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: relative;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -38px;
  width: 23px;
  height: 18px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-filter-box fieldset {
	padding: 0;
  margin-top: 25px;
  border: none;
  text-align: left;

} 


.fieldset-container label {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.fieldset-container label:not(:last-child) {
  margin-bottom: 23px;
}

.catalog-filter-titles {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 24px;
	padding: 0;
}

.search-form-infra {
	margin-left: 70px;
}

.search-form-acomm-type {
	margin-left: 120px;
}

.search-form-price {
	position: relative;
  box-sizing: border-box;
	display: block;
	float: right;
  width: 30%;
  align-items: center;
  margin-left: 340px;
}



.range-filter label:first-child {
  padding-left: 15%;
}

.range-filter label:last-child {
  padding-left: 15%;
}



.pop-up {
	animation: drop-down 0.4s;
}

.search-form {
	width: 568px;
	background-color: var(--basic-white);
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  padding: 55px;
  
  
}

.form {
	position: absolute;
	transform: translate( -50%);
	z-index: 2;
	margin-left: 600px;
}



.search-form label {
	display: block;
  flex-shrink: 0;
  width: 112px;
  padding: 6px 15px 6px 0;
  line-height: 26px;
}


.map iframe{
	background: var(--basic-dark-blue);
	background-image:url("../img/map.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1200px;
	height: 595px;
	border: 0;
	z-index: 1;
	position: relative;
}

.search-form-hide {
  animation: formhide 0.7s backwards;
}

.search-form-show {
  animation: formshow 0.7s forwards;
}

@keyframes formshow {
  0% {
  	transform: translateY(-100%);
  	opacity: 0;
	}

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes formhide {
  0% {
    transform: translateY(0);
  }

  100% {
      transform: translateY(-100%);
      box-shadow: none;
      transform-origin: top;
  }
}
