/* Colours */
:root {
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-dark-blue: #669EC0;
	--basic-deep-blue: #5496BD;
	--basic-gray: #EEEEEE;
	--basic-light-gray: #F2F2F2;
	--basic-dark-gray: #EBEBEB;
	--basic-brown: #766357;
	--basic-dark-brown: #604E43;
	--basic-deep-brown: #503E33;
	--basic-toggle: #999999;
	--basic-filter-bckg: #888888;
}

/*Main*/
body {
	min-width: 1220px;
	font-family: "PT Sans","Arial",sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.main-header {
  margin-bottom: 70px;
}


.main-header-logo {
	position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
	width: 138px;
	height: 70px;
 }

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}



.main-menu {
	display: flex;
  flex-direction: column;
  justify-content: space-between;

 	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-white);
}



.main-navigation-wrapper {
	width: 100%;
 	background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
 }

.site-navigation a {
	color: var(--basic-black);
}

.current-menu-item {
	opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue);
	background-color: var(--basic-white);
}

.site-navigation a:active {
	opacity: 0.3;
} 

.welcome-block {
	background: url("../img/background-photo.jpg") no-repeat;
	background-size: 1200px 506px;
	background-position: center;
}

.welcome-title {
	margin-top: 76px;
  margin-bottom: 23px;
  align-items: center;
}




.main-heading {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;	
	color: var(--basic-black);
	text-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
	
	}

.advice {
	margin: 0;
  padding-top: 60px;
  padding-bottom: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.advice p {
	margin: 0 70px;
}

.other-reasons {
	display: inline-block;
	padding-left: 30px;
	padding-top: 47px;
	padding-bottom: 54px;
 
}

.main-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}

.search-results-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.index-columns-1 {
	color: var(--basic-white);
	margin-left: 40px;
}

.first-reason {
	display: flex; 
	align-items: center;
	flex-direction: row;
}

.blue-block {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	height: 256px;
	justify-content: center;
	text-align: center;
	display: flex; 
	flex-direction: column;

}	

.second-reason {
	display: flex; 
	align-items: center;
	flex-direction: row;
}


.reasons-list {
	list-style: none;
	color: var(--basic-black);
}

.list-item {
	list-style: none;
	font-size: 14px;
	line-height: 21px;
}



.booking-details h2{
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}


.button {
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.cell {
	font-weight: bold;
	line-height: 26px;
	font-weight: bold;
}

.cell input {
  font: inherit;
  background-color: var(--basic-light-gray);
  border: none;
  height: 38px;
  color: var(--basic-black);
  padding-left: 12px;
  width: 346px;
}

.calendar-icon {
	background-image: url("../img/calendar-icon.svg");
  background-position: 317px;
  background-repeat: no-repeat;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 23px 0;
	margin-left: 43px;
  width: 1200px;
}

.main-footer .container {
  display: flex;
	justify-content: space-between;
	text-align: center;
	flex-direction: row;
	width: 1200px;
	margin-left: 43px;


}

.footer-contacts a {
  color: var(--basic-black);
 }

 .footer-contacts p {
 	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
 }

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}


.results-list {
	list-style: none;
}

.results h3 {
	font-size: 21px;
	line-height: 26px;
}

.first-result {
	display: inline-block;
}


.button-blue {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.button-blue:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue)
}

.button-blue:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.button-brown {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.button-brown:hover,
.button-brown:focus {
	background-color: var(--basic-dark-brown)
}

.button-brown:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.btn-blue-booking {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.btn-blue-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-blue-booking:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue)
}

.btn-blue-booking:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.btn-brown-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-brown-booking {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.btn-brown-booking:hover,
.btn-brown-booking:focus {
	background-color: var(--basic-dark-brown)
}

.btn-brown-booking:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.contact-icons {
	list-style: none;	
}

.catalog-filter {
	color: var(--basic-white);
	background: url(../img/background-filter.jpg) no-repeat;
	background-color: var(--basic-filter-bckg);
	}

.catalog-filter-titles {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	}

.range-controls {
	position: relative;
	width: 220px;
	padding-top: 11px;
	margin-top: 11px;
	margin-bottom: 30px;
}

.range-controls .scale {
	width: 220px;
  height: 2px;
  background: var(--basic-white);
  }

 fieldset {
 border:0 none;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
	position: absolute;
  top: 2px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 152px;
}

.price-controls {
	width: 224px;
	height: 36px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 6px;

}

.price-controls input {
	font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
  width: 58px;
	height: 21px;
	text-align: center;
	border: none;
	background-color: transparent;
  }

.btn-show {
	background-color: transparent;
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
}


.btn-show:hover {
 color: var(--basic-black);
 background-color: var(--basic-white);
}

