/* Colours */
:root {
	--basic-black: #000000;
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-dark-blue: #669EC0;
	--basic-deep-blue: #5496BD;
	--basic-gray: #EEEEEE;
	--basic-light-gray: #F2F2F2;
	--basic-dark-gray: #EBEBEB;
	--basic-brown: #766357;
	--basic-dark-brown: #604E43;
	--basic-deep-brown: #503E33;
	--basic-toggle: #999999;
	--basic-filter-bckg: #888888;
	--basic-gray-line: #E5E5E5;
}

/*Main*/
body {
	min-width: 1200px;
	font-family: "PT Sans","Arial",sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-position: center;
	text-align: center;
	margin: 0;
	padding: 0;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
	background-color: var(--basic-light-gray);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page-body {
	width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
 	margin-left: auto;
 	margin-right: auto;
	background-color: var(--basic-white);
 }

.main-header-logo {
	position: absolute;
  top: 0px;
  transform: translateX(-50%);
	width: 138px;
	height: 70px;
 }


.site-navigation {
	display: grid;
	grid-template-columns: repeat(4, 300px);
	list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-menu {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}


.current-menu-item {
	opacity: 0.3;
}

.site-navigation a {
	color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: var(--basic-blue);
}

.site-navigation a:active {
	opacity: 0.3;
} 

.welcome-block {
	background-image: url("../img/background-shape.svg"), url("../img/background-photo.jpg");
	background-size: 1200px 57px, 1200px 510px;
	background-position: center bottom, center;
	height: 510px;
	background-repeat: no-repeat;
}

.welcome-title {
	margin-top: 75px;
}


.main-heading {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-align: center;	
	color: var(--basic-black);
	text-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
	padding-top: 50px;

	}


.advice {
	margin: 0;
	padding-top: 60px;
	padding-bottom: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
}


.main-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}

.search-results-titles {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.search-results-titles h2, h3 {
	font-size: 21px;
	line-height: 26px;
}

.sorting-header {
	font-size: 12px;
	line-height: 18px;
}


.index-columns-1 {
	color: var(--basic-white);
}

.gray-box {
	background-color: var(--basic-gray);
	padding-top: 47px;
	padding-bottom: 55px;
}

.reason-row {
	display: flex; 
}

.reason-row-reverse {
	flex-direction: row-reverse;
}

.blue-block {
	background-color: var(--basic-blue);
	color: var(--basic-white);
	padding: 50px;
}	

.reasons-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.list-item-full-row {
	grid-column: 1/4;
 }

.list-item p {
	font-size: 14px;
	line-height: 21px;
	}

.booking-details h2{
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.button {
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.searh-form-btn {
	width: 568px;
	height: 86px;
}

.search-form-blue {
	width: 458px;
	height: 58px;
}

.search-form {
	width: 568px;
	background-color: var(--basic-white);
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  position: absolute;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  padding: 55px;
}

.field-wrap, .guests-amount {
	font-weight: bold;
	line-height: 26px;
	font-weight: bold;
}

.field-wrap input {
  font: inherit;
  background-color: var(--basic-light-gray);
  border: none;
  height: 38px;
  color: var(--basic-black);
  padding-left: 12px;
  width: 346px;
}

.field-wrap input:focus,
.guests-amount input:focus
 {
	background-color: var(--basic-white)
}

.guests-amount input {
	font: inherit;
  background-color: var(--basic-light-gray);
  border: none;
  height: 38px;
  color: var(--basic-black);
  padding-left: 12px;
	width: 114px;
	height: 38px;
}



.calendar-icon {
	background-image: url("../img/calendar-icon.svg");
  background-position: 317px;
  background-repeat: no-repeat;
}


.map iframe{
	background: var(--basic-dark-blue);
	background-image:url(../img/map.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 1200px;
	height: 595px;
	border: 0;
}

.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
	margin-bottom: 0px;
	display: grid;
	grid-template-columns: repeat(3, 400px);
  align-content: center;
	
}

.main-footer-index {
	margin-top: -120px;
	padding: 0;
}



.footer-contacts a {
  color: var(--basic-black);
 }

 .footer-contacts p {
 	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
 }

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}


.results-list {
	list-style: none;
}

.results h3 {
	font-size: 21px;
	line-height: 26px;
}


.button-blue {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.button-blue:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue);
}

.button-blue:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.button-brown {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.button-brown:hover,
.button-brown:focus {
	background-color: var(--basic-dark-brown)
}

.button-brown:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.btn-blue-booking {
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.btn-blue-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-blue-booking:hover,
.button-blue:focus {
	background-color: var(--basic-dark-blue)
}

.btn-blue-booking:active {
  background-color: var(--basic-deep-blue);
  color: rgba(255 255 255 / 0.3);
  fill-opacity: 0.3;
}

.btn-brown-booking {
	font-size: 14px;
	line-height: 21px;
}

.btn-brown-booking {
	background-color: var(--basic-brown);
	color: var(--basic-white);
}

.btn-brown-booking:hover,
.btn-brown-booking:focus {
	background-color: var(--basic-dark-brown)
}

.btn-brown-booking:active {
  background-color: var(--basic-deep-brown);
 	color: rgba(255 255 255 / 0.3);
}

.contact-icons {
	list-style: none;	
}

.catalog-filter {
	color: var(--basic-white);
	background: url(../img/background-filter.jpg) center 15% no-repeat;
	background-color: var(--basic-filter-bckg);
	background-size: cover;
	list-style: none;
}

.catalog-filter-box {
	margin: 72;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: left;
 	padding-top: 26px;
  padding-bottom: 32px;
  padding-right: auto;
	width: 1200px;
  list-style: none;
}


.catalog-filter-titles {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	}

.sorting {
	display: flex; 
	align-items: center;
	justify-content: space-around;
	width: 527px;
	margin-left: 73px;
	border-bottom: 1px solid var(--basic-gray-line);

}	

.sorting-btn {
	background-color: transparent;
	opacity: 0.3;
	font-size: 12px;
	line-height: 18px;
	color: var(--basic-black);
}

.sorting-btn:hover,
.sorting-btn:focus {
	color: var(--basic-blue);
	text-decoration: 1px underline dashed var(--basic-blue);
	}

.sorting-btn:active {
	color: var(--basic-black);
	opacity: 1;
}

.hotels-list-item {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	border-bottom: 1px solid var(--basic-gray-line);
	padding-left: 72px;
	padding-right: 72px;
	box-sizing: content-box;
}

.rating-box {
	text-align: center;
	width: 110px;
	height: 27px;
	align-items: center;
	background-color: var(--basic-gray);
}



.btn-up-down-sort:hover,
.btn-up-down-sort:focus {
	color: var(--basic-blue);
	fill: var(--basic-blue);
}

.btn-up-down-sort:active {
	fill: var(--basic-black);
}


.range-controls {
	position: relative;
	width: 220px;
	padding-top: 11px;
	margin-top: 11px;
	margin-bottom: 30px;
}

.range-controls .scale {
	width: 220px;
  height: 2px;
  background: var(--basic-white);
  }

 fieldset {
 border:0 none;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
	position: absolute;
  top: 2px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 152px;
}

.price-controls {
	width: 224px;
	height: 36px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 6px;

}

.price-controls input {
	font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
  width: 58px;
	height: 21px;
	text-align: center;
	border: none;
	background-color: transparent;
  }

.btn-show {
	background-color: transparent;
	font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
	box-sizing: border-box;
	border-radius: 2px;
}

.btn-show:hover {
 color: var(--basic-black);
 background-color: var(--basic-white);
}


.hotels-results {
	display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--basic-gray-line);
  width: 1200px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-content {


}